{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>📚Available Books</h2>
{% for book in books %}
<div class="book-card">
    {% if book.image %}
    <img src="{{ book.image.url}}" alt="{{ book.title }}">
    {% endif %}
    <div class="info">
        <h3><a href="{% url 'book_detail' book.id %}">{{book.title}}</a></h2>
            <p><strong>Author: </strong>{{book.author}}</p>
            <p><strong>Price: ₹</strong>{{book.price}}</p>
            <p><strong>Category: </strong>{{book.category}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}